* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fbfbfb;
  font-family: "Forum", serif;
  font-family: "Roboto", sans-serif;
}
/*background start*/
.background {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}
.sky {
  position: absolute;
}
.sea {
  position: absolute;
  bottom: 0;
}
.house-one {
  position: absolute;
  left: 0;
}
.house-two {
  position: absolute;
  right: -290px;
  bottom: 0;
}
.palm {
  position: absolute;
  left: 0;
  bottom: 0;
}
.palm-small {
  position: absolute;
  right: 650px;
  bottom: 0;
}
.girl {
  position: absolute;
  right: 100px;
  bottom: 0;
}
.bush-left {
  position: absolute;
  left: -10px;
  bottom: 0;
}
.bush-right {
  position: absolute;
  right: -150px;
  bottom: 0;
}

/* background end*/

/*header  start*/
header {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  padding: 50px 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.tel {
  text-decoration: none;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #4e4e4e;
}
.tel:hover {
  color: blue;
}
.block-link {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.watsap,
.telegram {
  cursor: pointer;
}
/*header  end*/

/*welcome start*/
.welcome {
  position: absolute;
  z-index: 2;
  width: 545px;
  height: 400px;
  top: 40%;
  left: 19%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.welcome__h {
  font-family: Forum;
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome__p {
  font-family: Forum;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 2.25px;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome__p-small {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.6;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome__button {
  cursor: pointer;
  width: 278px;
  height: 71px;
  border: none;
  background-color: #e8cd80;
  fill: var(
    --linear-2-paints,
    url(<path-to-image>),
    lightgray 50% / cover no-repeat,
    linear-gradient(180deg, #f2e0a9 0%, #e8cd80 100%)
  );
  background-blend-mode: soft-light, normal;
  box-shadow: 0px 10px 10px 0px rgba(255, 255, 255, 0.25) inset;
  color: #756532;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
/*welcome end*/

/*flex-img start*/
.block {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.flex-img {
  overflow: hidden;
}
/*flex-img end*/

/*pros start*/
.pros {
  height: 893px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.background-one {
  position: relative;
}
.background-img {
  position: relative;
  bottom: 0;
}
.elips {
  position: absolute;
  bottom: 0;
  left: 30%;
}
.palm_three {
  position: absolute;
  bottom: 0;
  right: 24%;
}
.women {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 33%;
}
.palm_four {
  position: absolute;
  bottom: 0;
  z-index: 3;
  left: 25%;
}
.block-text__pros {
  margin-top: -550px;
  position: absolute;
}
.pros__p {
  font-family: "Forum", serif;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 45px;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pros__h {
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block__pros {
  left: 7%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.block-flex__pros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
  gap: 600px;
}
.block-flex__pros-two {
  display: flex;
  flex-direction: row;
  gap: 800px;
}
.element__block {
  width: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pros__img {
  width: 80px;
  height: 93px;
}
.text__p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*pros end*/

/*dream start*/
.dream {
  padding: 100px 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 780px;
}
.dream__h {
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dream-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.block-flex {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.block-text-flex {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.dream__p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #6f6f6f 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cat {
  position: absolute;
  right: 300px;
}
/*dream end*/

/*maral start*/
.maral {
  height: 809px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.maral__img {
  position: absolute;
}
.maral__text {
  position: absolute;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.maral__h {
  font-family: TT Firs Neue;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #6f6f6f 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.maral__p {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 45px;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block-symbol {
  position: relative;
}
.symbol {
  margin-left: 20px;
  position: absolute;
  margin-top: 0px;
  width: 52px;
  height: 43px;
}
pre {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #6f6f6f 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.maral__block-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.element__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.star__p {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #6f6f6f 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*maral end*/

/*video start*/
.video {
  position: relative;
  margin-top: 100px;
  bottom: 0;
  height: 737px;
  background-image: url(img/boy.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
}
.quadcopter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  margin-top: -200px;
}
.block__text-video {
  padding-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.video__h {
  width: 660px;
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block__video {
  width: 480px;
  height: 300px;
  position: relative;
  background-image: url(img/Rectangle\ 147.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.elipse-one,
.elipse-two,
.play {
  position: absolute;
}
.meaning {
  width: 156px;
  height: 181px;
}

/*video end*/

/*choice start*/
.choice {
  padding: 80px;
  display: flex;
  flex-direction: column;
}
.choice__h {
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}
.choice__flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.choice__minus,
.choice__plus {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.minus__h {
  text-align: center;
  font-size: 27px;
  font-style: italic;
  font-weight: 400;
  line-height: 45px;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.element__img-p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.element__p {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.element__img {
  position: relative;
}
.minus__img-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.element-p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #6f6f6f 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.element__review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.sign {
  width: 40px;
  height: 40px;
  margin-bottom: -15px;
}
.review__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.background__review {
  position: relative;
}
.review__p {
  position: absolute;
  width: 940px;
  color: #636363;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.block__sms-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sms-bottom {
  padding-top: 250px;
}
/*choice end*/

/*plots start*/
.plots {
  padding: 40px 0px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plots__h {
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.plots__p {
  text-align: center;
  font-size: 27px;
  font-style: italic;
  font-weight: 400;
  line-height: 45px;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block-plots__background {
  position: relative;
  width: 100%;
}
.plots__background {
  position: absolute;
  width: 100%;
  height: 1248px;
}
.palms__flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.block-img__flex {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 10px;
  left: 15%;
  top: 0;
}
.plots-img,
.plots__text {
  z-index: 3;
}
.block-two {
  padding-top: 100px;
  position: relative;
  width: 100%;
}
.block-background-two {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.block-text-h__flex {
  left: 15%;
  gap: 100px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.element-text {
  width: 475px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 3;
}
.element-text__h {
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #252525 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.element-text__p {
  text-shadow: 0px 0px 50px #fff, 0px 0px 40px #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #6f6f6f 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block-input {
  width: 400px;
  height: 344px;
  border-radius: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.name,
.number {
  width: 320px;
  height: 80px;
  border-radius: 5px;
  background: #f5f6f8;
  text-align: center;
  text-shadow: 0px 0px 50px #fff, 0px 0px 40px #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.4;
  background: var(
    --Radial,
    radial-gradient(85.77% 48.88% at 44.24% 46.07%, #6f6f6f 0%, #4e4e4e 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.input-btn {
  cursor: pointer;
  width: 320px;
  height: 80px;
  background-color: #e8cd80;
  background-blend-mode: soft-light, normal;
  box-shadow: 0px 10px 10px 0px rgba(255, 255, 255, 0.25) inset;
  color: #756532;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  border: none;
}
.input-btn:hover {
  background-color: #c7af6e;
}
.footnote {
  width: 150px;
  height: 150px;
}
/*plots start*/
